body{
    background-color: #FFF;
}

.navbar{
    height: 80px;
    background-color: #3CB371;
    padding-top: 20px;
}

.navbar.two{
    height: 40px;
    background-color: #3CB371;
    padding-top: 10px;
    margin-top: 80px;
    
}

.navbar a.navbar-brand {
    color: #fff;
    font-weight: bold;   
    font-size: 20px;
}

.navbar-expand-sm .navbar-nav .nav-link{
    color: #fff;
}

.navbar-expand-sm .navbar-nav .nav-link:hover{
    text-decoration: underline;
}

.input-group-append .btn {
    background-color: white; 
    color: #3CB371; 
    border: 1px solid white; 
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Transição suave */
}

.input-group-append .btn:hover {
    background-color:#3CB371;
    color: white;
    border: 1px solid white;
}

.display-product{
    margin-top:120px;
}


.card-header{
    background-color: #AEC2B6;
}

.suppliers{
    margin-top:80px;
}
.header-table{
    background-color: #AEC2B6 ;
}

.search{
    color: #E7CBCB;
    border:1px solid #E7CBCB;
    margin-left: 5px;
}





table th{
    color:#fff;
    
}

table td a{
    color:#94AF9F;
    padding-left: 8px;
}

table td a:hover{
    color:#111;
}

#available{
    color:#29b15f
}
#not-available{
    color:rgb(238, 64, 64)
}
.card h1{
    color:#111;
    font-size: 30px;
}

.card h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* setting size and zoom on product photo */
.zoom-image {
    width: 200px; /* Tamanho inicial da imagem */
    height: 200px;
    transition: transform 0.3s; /* Adiciona uma transição suave ao efeito de zoom */
  }
  
  .zoom-image:hover {
    transform: scale(1.2); /* Aplica o efeito de zoom na imagem quando o mouse estiver sobre ela */
  }
  
  a.redirect{
    text-decoration: none;
    color: #000000;
  }

.card h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
} 

.container-fluid{
    /* border: 1px solid red; */
    margin-top: 90px;
    height: 50px;
    

}
.product{
   
        transition: border 0.3s ease-in-out;
    
}

.detail-product{
    margin-top:120px;
}
.card:hover{
    /* border:none; */
    border:1px solid #AEC2B6;

}

.product-cart{
    margin-top: 180px;
    background-color: #FFF;
    
}
.product-cart h1{
    font-size:22px;
    margin-top: 20px;
}

.form-quantity{
    /* border: 1px solid #000; */
    margin-right: 15px;

}

.card-body a{
    text-decoration: none;
    margin-right:10px;
}

.page-carrinho{
    background-color: #ededed;
}

.vuleuTotal {
    font-size: 22px;
}

a span{
    background-color: red;
    color: white; /* Cor do texto da quantidade */
    border-radius: 50%; /* Formato redondo para o badge */
    padding: 4px 6px; /* Espaçamento interno do badge */
    font-size: 12px; /* Tamanho da fonte do badge */
    margin-left: 3px;
}